/* region common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* endregion common */

body{
    background-color: #F6F8F9;
}

/* Region header */
header{
    background-color: white;
    margin-bottom: 40px;
}
.logo_text{
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.logo_img{
    vertical-align: middle;
}
/* endregion header */

/* region main */
.container{
    margin: auto;
    width: 70%;
    background-color: white;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-bottom: solid 1px #F6F8F9;
}
.button{
    padding:6px;                                   
    border-radius: 5px;
    border:  transparent 1px;
}
#first_button{
    color: white;
    background-color: #47ADF1;
}
#second_button{
    background-color: white;
    color: #D9DDE0;
    border: 1px solid #F0F2F3;
}
.main_text {
    font-size: 20px;

}
.arrow {
    font-size: 15px;
}

.circle{   
    border-radius: 0.75rem;
    height: 15px;
    width: 15px;
    font-size: 8px; 
    display: inline-block;
    text-align: center;
    vertical-align: middle;
} 

.check{
    color: #65C0A9;
    border: 1px solid #65C0A9;
}
.cross{
    color: #EB5852;
    border: 1px solid #EB5852;
}

li{
    list-style: none;
    padding-top: 15px;
}

.cloud{
    border: 1px transparent black;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    font-size: 12px;
}
#first_editorial{
    background-color: #45ABE9;
}
#second_editorial{
    background-color: #45ABE9;
}
#third_editorial{
    background-color: #45ABE9;
}
#Goals{
    background-color: #9C72E4;
}
h2{
    padding-top: 15px;
}
h3{
    padding-bottom: 1px;
    padding-top: 20px;
}
#Recruting{
    background-color: #64C0A9;
}
#Mobile{
    background-color: #F29E33;
}
#website{
    background-color: #D863A1;
}
#Sales{
    background-color: #B0C926;
}
/* endregion main */