* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #F6F8F9;
}

/* Region header */
header{
    background-color: white;
    margin-bottom: 40px;
}
.logo_text {
    display: inline-block;
    vertical-align: middle;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.logo_img{
    vertical-align: middle;
}
/* /region header */

/* region main */
.container{
    margin: auto;
    width: 70%;
    background-color: white;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    border-bottom: solid 1px #F6F8F9;
}
.button{
    padding: 6px;
    background-color: #47ADF1;
    border-radius: 5px;
    border:  transparent 1px;
    
}
#first_button{
    color: white;
}
#second_button{
    background-color: white;
    color: #D9DDE0;
    border: 1px solid #F0F2F3;
}
.main_text {
    font-size: 20px;
}
.arrow {
    font-size: 15px;
}
.cloud{
    border: 1px transparent black;
    margin-left: 10px;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: white;
    font-size: 12px;
}
#first_editorial{
    background-color: #45ABE9;
}
#second_editorial{
    background-color: #45ABE9;
}
#third_editorial{
    background-color: #45ABE9;
}
#Goals{
    background-color: #9C72E4;
}
h2{
    padding-top: 15px;
}
h3{
    padding-bottom: 1px;
    padding-top: 20px;
}
#Recruting{
    background-color: #64C0A9;
}
#Mobile{
    background-color: #F29E33;
}
#website{
    background-color: #D863A1;
}
#Sales{
    background-color: #B0C926;
}
/* /region main */